*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 80px;
    width: 100%;
    background: #262626;
    position: fixed;
    z-index: 12;
}
.logo{
    width: 30%;
    float: left;
    line-height: 80px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    letter-spacing: 5px;
    color: aliceblue;
}
nav{
    float: right;
    line-height: 80px;
}
nav a{
    text-decoration: none;
    font-family: bignoodletitling;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    transform: scale(1.05);
}
.logo a span{
    color: crimson;
}
nav a:hover{
    color: crimson;
}
.homepage{
    width: 100%;
    height: 800px;
    top: 80px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    position: fixed;
    background-image: url(IMG_20230411_120117.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.homepage h1 span{
    color: crimson;
}
.homepage h1{
    font-size: 50px;
}
.content-area{
    text-align: center;
    width: 100%;
    background: #ddd;
    position: relative;
    top: 730px;
    height: 800px;
    padding: 0px;
}
.display{
    display: flex;
    margin-top: 30px;
}
.imgAbout{
    margin: 20px;
    height: 450px;
    width: 450px;
    border-radius:40%;
}
.content-area h2{
    position: relative;
    font-family: bignoodletitling;
    letter-spacing: 3px;
    padding-top: 80px;
    font-size: 60px;
    margin: 0;
}
.content-area h2 ::before{
    content: "";
    height: 3px;
    width: 300px;
    bottom: -10px;
    left: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transform: translateX(-50%);
}
.content-area h2 ::after{
    content: "what i am";
    height: 25px;
    bottom: -25px;
    left: 50%;
    font-size: 17px;
    font-weight: 700;
    padding: 5px;
    color: crimson;
    background-color: #ddd;
    position: absolute;
    transform: translateX(-50%);
}
.content-area h2 span{
    color: crimson;
}
.content-area p span{
    font-size: 40px;
}
.content-area p span span1{
    color: crimson;
}
.content-area p span2{
    color: crimson;
}
.content-area p{
    padding: 2% 0;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: -70px;
    font-family: merienda;
    line-height: 30px;
}
.content-area button{
    height: 50px;
    width: 200px;
    margin-left: -100px;
    margin-top: 25px;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    border: crimson;
    font-size: 20px;
    cursor: pointer;
}
.content-area button:hover{
    background-color: #ecb7b7;
    color: crimson;
}
.portfolio{
    text-align: center;
    color: #ffffff;
    padding: 80px 0px;
    width: 100%;
    background: #2e1a1a;
    position: relative;
    top: 700px;
    height: 700px;
}
.portfolio .title{
    font-size: 60px;
    letter-spacing: 4px;
}
.portfolio .title ::before{
    content: "";
    height: 3px;
    width: 300px;
    bottom: 700px;
    left: 50%;
    background-color: #ffffff;
    position: absolute;
    transform: translateX(-50%);
}
.portfolio .title ::after{
    content: "what i provide";
    height: 25px;
    bottom: 683px;
    left: 50%;
    font-size: 17px;
    font-weight: 100;
    padding: 5px;
    color: crimson;
    background-color: #2e1a1a;
    position: absolute;
    transform: translateX(-50%);
}
.portfolio h2 span{
    color: crimson;
}
.portfolio .card{
    display: flex;
    cursor: pointer;
    margin-top: 0px;
}
.portfolio .card .card1{
    margin: 100px;
    width: 500px;
    border-style: solid;
    border-color: rgb(58, 52, 52);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(58, 52, 52);
}
.portfolio .card .card1 i{
    color: crimson;
    font-size: 40px;
}
.portfolio .card .card2{
    margin: 100px;
    width: 500px;
    border-style: solid;
    border-color: rgb(58, 52, 52);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(58, 52, 52);
}
.portfolio .card .card2 i{
    color: crimson;
    font-size: 40px;
}
.portfolio .card .card3{
    margin: 100px;
    width: 500px;
    border-style: solid;
    border-color: rgb(58, 52, 52);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(58, 52, 52);
}
.portfolio .card .card3 i{
    color: crimson;
    font-size: 40px;
    transition: all 0.03 ease;
}
.portfolio .card .card4{
    margin-left: 350px;
    width: 270px;
    border-style: solid;
    border-color: rgb(58, 52, 52);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(58, 52, 52);
}
.portfolio .card .card4 i{
    color: crimson;
    font-size: 40px;
}
.portfolio .card .card5{
    margin-left: 150px;
    width: 270px;
    border-style: solid;
    border-color: rgb(58, 52, 52);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(58, 52, 52);
}
.portfolio .card .card5 i{
    color: crimson;
    font-size: 40px;
}
.portfolio .card :hover{
    background-color: crimson;
}
.portfolio .card1:hover i{
    color: #fff;
}
.portfolio .card2:hover i{
    color: #fff;
}
.portfolio .card3:hover i{
    color: #fff;
}
.portfolio .card4:hover i{
    color: #fff;
}
.portfolio .card5:hover i{
    color: #fff;
}
.card .card1 img{
    padding: 20px;
    height: 50px;
    width: 50px;
}
.skills{
    width: 100%;
    margin-top: 100px;
    height: 800px;
    top: 600px;
    position: relative;
    background-color: #ddd;
}
.skills .title{
    position: relative;
    padding: 80px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
}
.skills .title ::before{
    content: "";
    height: 3px;
    width: 180px;
    bottom: 70px;
    left: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transform: translateX(-50%);
}
.skills .title ::after{
    content: "who i know";
    height: 25px;
    bottom: 53px;
    left: 50%;
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
    color: crimson;
    background-color: #ddd;
    position: absolute;
    transform: translateX(-50%);
}
.skills h2 span{
    color: crimson;
}


.skillsinner{
    display: flex;
}
.skills .skillsinner .column{
    margin-top: 100px;
    width: calc(50% - 30px);
}
.skills .skillsinner .left{
    font-size: 20px;
    margin: 100px;
}
.skills .skillsinner .left span{
    font-size: 30px;
    font-weight: 600;
}
.skills .skillsinner .left spanx{
    color: crimson;
    font-size: 17px;
}
.skills .right{
    font-size: 20px;
    font-weight: 600;
    margin: 100px;
}
.skills .skillsinner .right .bars{
    margin-bottom: 20px;
}
.skills .skillsinner .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skillsinner .right .line{
    height: 5px;
    width: 100%;
    background-color: lightgray;
    position: relative;
}
.skills .skillsinner .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;    
    background-color: crimson;
}
.skills .skillsinner .right .html::before{
    width: 90%;
}
.skills .skillsinner .right .css::before{
    width: 80%;
}
.skills .skillsinner .right .javascript::before{
    width: 70%;
}
.skills .skillsinner .right .php::before{
    width: 70%;
}
.skills .skillsinner .right .mysql::before{
    width: 60%;
}
.contact{
    color: #ffffff;
    width: 100%;
    background: #2e1a1a;
    position: relative;
    top: 600px;
    height: 550px;
    padding: 80px 0px;
}
.contact .contactflax{
    display: flex;
}
.contact h2{
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    margin-top: -50px;
}
.contact h2 ::before{
    content: "";
    height: 3px;
    width: 350px;
    bottom: 600px;
    left: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translateX(-50%);
}
.contact h2 ::after{
    content: "get in touch";
    height: 25px;
    bottom: 580px;
    left: 50%;
    font-size: 17px;
    font-weight: 100;
    padding: 5px;
    color: crimson;
    background-color: #2e1a1a;
    position: absolute;
    transform: translateX(-50%);
}
.contact h2 span{
    color: crimson;
}
.contact .left{
    margin: 100px;
    width: 40%;
}
.contact .left span{
    font-size: 30px;
    color: #ddd;
    font-weight: 700;
}
.contact .left .name{
    display: flex;
    margin: 20px;
    margin-left: -5px;
}
.contact .left .nameicon i{
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: crimson;
}
.contact .left .nametext{
    font-size: 20px;
}
.contact .left .address{
    display: flex;
    margin: 20px;
    margin-left: -5px;
}
.contact .left .addressicon i{
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: crimson;
}
.contact .left .addresstext{
    font-size: 20px;
}
.contact .left .email{
    display: flex;
    margin: 20px;
    margin-left: -5px;
}
.contact .left .emailicon i{
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: crimson;
}
.contact .left .emailtext{
    font-size: 20px;
}
.contact .right{
    margin-top: 100px;
}
.contact .right span{
    font-size: 30px;
    font-weight: 700;
    color: #ddd;
    margin-left: 10px;
}
.contact .right .field{
    display: flex;
    width: 600px;
}
.contact .right .field2{
    padding: 0px;
}
.contact .right .field input{
    width: 287px;
}
.contact .right input{
    height: 50px;
    width: 100%;
    margin: 10px;font-size: 15px;
    padding-left: 5px;
    border-radius: 6px;
    border: none;
}
.contact .right .description input{
    height: 100px;
}
.contact .right button{
    height: 50px;
    width: 200px;
    margin: 10px;
    background-color: crimson;
    color: #ffffff;
    font-size: 20px;
    border: crimson;
    border-radius: 6px;
    cursor: pointer;
}
.contact .right button:hover{
    background-color: #ddd;
    color: crimson;
}
.contact .icon{
    text-align: center;
    font-size: 50px;
    margin-left: 50px;
}
.contact .icon i{
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}
.contact .icon i:hover{
    color: crimson;
}
